body {
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
html,
body,
#root {
  height: 100%;
}

iframe {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
